{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="list-container">
	<nav>
		<ul class="horizontal-list">
			<li><a href="#team">Go to team information</a>
			<li><a href="#geog">Go to geographic information</a>
		</ul>
	</nav>
</div>


<h2 id="team"> Team Information</h2>
<h3>Information about the team who developed this.</h3>

<p>
	<p>Amber Forster: <a class="email-link" href="x6q39@students.keele.ac.uk">x6q39@students.keele.ac.uk</a></p>

		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque velit velit, sollicitudin id sem sit amet, interdum congue erat. Vivamus ut purus elit. Aliquam facilisis molestie ligula, non volutpat urna convallis posuere. Nullam porta libero eget faucibus bibendum. Fusce blandit velit non nisi vehicula, eget feugiat nisi placerat. Cras ullamcorper diam vitae ullamcorper auctor. Ut feugiat lobortis facilisis. Sed sagittis tortor non diam pellentesque venenatis. Etiam felis quam, volutpat in rhoncus vitae, volutpat vel erat. In odio tortor, consectetur rutrum lacinia sit amet, vulputate sodales ipsum. Mauris a arcu porttitor, auctor lacus dignissim, semper lacus. Donec pulvinar, erat vel lobortis suscipit, massa quam mollis odio, eget convallis turpis metus et enim. Maecenas mauris arcu, malesuada non scelerisque ut, vulputate sit amet dolor. Maecenas risus neque, condimentum vitae dictum quis, maximus id mauris. Phasellus a porttitor risus. Ut consequat faucibus tristique.
</p>
<p>
	<p>Jack Bryant : <a class="email-link" href="x6d45@students.Keele.ac.uk">x6d45@students.Keele.ac.uk</a> </p>
	Sed sed lacus elit. Sed ultricies fringilla odio, ut faucibus mi. Vestibulum vulputate tristique risus vel accumsan. Sed malesuada nibh vel convallis interdum. Pellentesque eleifend efficitur dui eu vestibulum. In hac habitasse platea dictumst. Maecenas ac blandit ante. Morbi arcu arcu, ullamcorper vitae massa vitae, cursus sagittis enim. Sed eu ullamcorper mauris. Pellentesque aliquet est quis nisi posuere bibendum.
</p>
<p>
	<p>Joe Hunn: <a class="email-link" href="x6h43@students.keele.ac.uk">x6h43@students.keele.ac.uk</a></p>
	Praesent nec dui lobortis, vehicula diam nec, hendrerit ipsum. In id nunc blandit, semper ipsum quis, iaculis ipsum. Vivamus venenatis, ex quis ultrices posuere, dui ipsum accumsan neque, eu suscipit turpis ipsum vel dui. Nulla blandit velit in tortor gravida, in varius metus volutpat. Proin sagittis sapien eget nisi mattis, eget lacinia turpis molestie. Duis sit amet luctus felis. Nulla ullamcorper facilisis dolor, eu consectetur mi convallis dapibus.
</p>
<p>
	<p>Rosco Thomas : <a class="email-link" href="x6p37@students.keele.ac.uk">x6p37@students.keele.ac.uk</a></p>
	Vivamus semper diam est, non vehicula erat iaculis eu. Fusce quis vestibulum purus. Ut at mauris vel justo rutrum malesuada. Sed justo leo, egestas ac finibus porttitor, suscipit et lacus. Cras varius cursus arcu, at lobortis tortor feugiat vitae. Sed ut scelerisque arcu. Phasellus vel sagittis risus, tristique tempor libero. Nunc ut ipsum magna. Cras auctor imperdiet erat, scelerisque tincidunt nunc condimentum id. Vestibulum tempus consectetur mauris in sollicitudin. Integer imperdiet velit ac eros ultricies suscipit. Vestibulum turpis nisl, mollis a aliquam fringilla, egestas ac lacus. Vestibulum ac felis in ligula pulvinar aliquam eget ut erat. Cras est odio, faucibus ac lectus non, ultricies fringilla dui. Vivamus augue dui, ultrices quis dui id, vestibulum tincidunt lacus. Vivamus vel condimentum risus, ac sodales est.
</p>
<p>
	<p>Thomas hill: <a class="email-link" href="u9i60@students.keele.ac.uk">u9i60@students.keele.ac.uk</a></p>
	Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris malesuada eget nisl a rutrum. Nulla et viverra odio. Donec ipsum justo, egestas in viverra a, sodales at erat. Praesent viverra ante est, in volutpat turpis dapibus venenatis. Sed tortor magna, posuere sit amet sollicitudin sed, faucibus ac urna. Proin at dui risus. Morbi congue, magna sit amet bibendum venenatis, erat neque blandit tortor, eu fermentum ante est ac nulla. Vestibulum sodales lacus ut eros ultricies posuere. In malesuada dui in purus pulvinar ultrices. Morbi dictum eu erat vel maximus. Suspendisse cursus, massa sit amet bibendum egestas, lacus odio mollis lorem, vel ornare quam ligula sed diam. Donec aliquam quam sed ante dapibus, sit amet aliquam tortor ultrices. In malesuada dapibus risus, et
</p>

<h3 id="geog"> LTLA, MSOA and UTLA Information</h3>
<p>Information and comparison between LTLA, MSOA, and UTLA:</p>

<h2 >Information</h2>
	<ul class="vertical-list">
		<li>
			LTLA (Lower Tier Local Authority): 
			<p>
				LTLA stands for Lower Tier Local Authority. It refers to the administrative division used in England for local government purposes. LTLAs are responsible for delivering a range of services at the local level, such as housing, planning, waste management, and local infrastructure. Examples of LTLAs include boroughs, districts, or city councils. LTLAs are typically smaller geographical areas within a larger administrative division called UTLA.
			</p>
		</li>
		<li>
			MSOA (Middle Layer Super Output Area): 
			<p>
				MSOA stands for Middle Layer Super Output Area. It is a statistical geographic unit used in the United Kingdom for the reporting of small-area statistics. MSOAs were designed to have a consistent population size and are used to analyse and present data at a more localised level. They are smaller than LTLAs and are used for statistical and research purposes, such as analysing demographic data, health outcomes, or socioeconomic indicators.
			</p>
		</li>
		<li>
			UTLA (Upper Tier Local Authority): 
			<p>
				UTLA stands for Upper Tier Local Authority. It is an administrative division in England that encompasses a group of lower tier local authorities (LTLAs). UTLAs are responsible for strategic planning, social services, education, transportation, and other major services that cover a larger geographic area. UTLAs are often county councils or unitary authorities and have jurisdiction over multiple LTLAs within their boundaries.
			</p>
		</li>
	</ul>

<h2>Comparison</h2>
	<ul class="vertical-list">
		<li>
			Size and Coverage: 
			<p>
				LTLAs are smaller administrative divisions responsible for local services, while UTLAs are larger divisions responsible for strategic planning and major services over multiple LTLAs. MSOAs are statistical units used for data analysis and reporting, and they are smaller than both LTLAs and UTLAs.
			</p>
		</li>
		<li>
			Responsibilities: 
			<p>
				LTLAs deliver local services like housing, waste management, and planning, while UTLAs handle broader services like social services, education, and transportation. MSOAs do not have administrative responsibilities but serve as statistical units for data analysis.
			</p>
		</li>		
		<li>
			Geographic Hierarchy: 
			<p>
				UTLAs are higher in the administrative hierarchy as they encompass multiple LTLAs, while LTLAs are the lower tier authorities within UTLAs. MSOAs are not part of the administrative hierarchy but serve as smaller statistical divisions within LTLAs
			</p>
		</li>			
		<li>
			Purpose: 
			<p>
				LTLAs and UTLAs have administrative and governance functions, while MSOAs are primarily used for statistical and research purposes.
			</p>
		</li>			
<p>Overall, LTLA, MSOA, and UTLA are different geographical divisions used in England for various purposes, with LTLAs handling local services, UTLAs overseeing larger areas and major services, and MSOAs providing statistical data at a more localised level.</p>

</body>
{% endblock %}
